@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


h1 {
    text-align: center;
    font-size:30px;
}
